$background: #FCFCFC;
$hitContainerColor: #FFF;
$filterCategoryColor: #252525;
$filterCategoryItemColor: #F5F5F5;
$filterCategoryFontColor: #676767;
$bestBuyBlue: #0275D8;

@font-face {
  font-family: 'global-font';
  src: url('/fonts/bodyFont.ttf');
}

@mixin link {
  a {
    color: $filterCategoryFontColor;
    text-decoration: none;
    &:visited {
      color: $bestBuyBlue;
      text-decoration: none; 
    }
    &:hover {
      color: $bestBuyBlue;
      text-decoration: none;   
    }
    &:active {
      color: $bestBuyBlue;
      text-decoration: none; 
    }
  }
}

@mixin input {
  color: $filterCategoryFontColor;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0px;
  box-shadow: none;
  position: relative;
}

html, 
body {
  @include link;
  width: 100%;
  background-color: $background;
  font-family: 'global-font', 'Helvetica', sans-serif;
  .container-fluid {
    margin-left: 10px;
  }
}
  .search-container {
    position: fixed;
    width: 100%;
    height: 10%;
    z-index: 5;
    padding-top: 5%;
    padding-bottom: 125px;
    background-color: $background;
    .search-input {
      @include input;
      width: 40%;
      margin-left: 16%;
      top: -5px;
      height: 2.5em;
      font-size: 2.2em
    }
    .glyphicon {
      position: absolute;
      font-size: 7em;
      z-index: 8;
      color: $bestBuyBlue;
      top: 20%;
      right: 90%;
    }
  }
  .search-filters {
    position: fixed;
    overflow-y: scroll;
    width: 15%;
    height: 600px;
    padding-bottom: 100px;
    margin-top: 13.5%;
    z-index: 5;
    background-color: $background;
    .ais-header {
      background-color: $filterCategoryColor;
      color: $background;
      padding: 15px;
      font-size: 1.2em;
      border-bottom: 1px solid #EFEFEF;
    }
    .category-list {
      text-transform: uppercase;
    }
    .ais-hierarchical-menu--item {
      @include link;
      background-color: $filterCategoryItemColor;
      padding: 15px;
      font-size: .9em;
      border-bottom: 1px solid #EFEFEF;
    }
    .ais-refinement-list--label {
      // for right-aligned counts
      display: block;
    }
    .ais-refinement-list--count {
      float: right;
      padding-right: 15px; 
    }
    .filter-list {
      background-color: $filterCategoryItemColor;
      padding-top: 15px;
      padding-bottom: 15px;
      .filter-list-item {
        color: $filterCategoryFontColor;
        padding-bottom: 5px;
        padding-left: 15px;
      }
    }
    .price-input {
      @include input;
      width: 80%;
    }
    .btn-sm {
      margin-top: 10px;
      margin-left: 35%;
      background-color: $bestBuyBlue;
      border: none;
    }
    #clear-all {
      margin-top: 20px;
    }
    .glyphicon-refresh {
      margin-left: 15%;
    }
  }
  .hits-filters {
    position: fixed;
    padding-right: 5%;
    padding-top: 15px;
    background-color: $background;
    width: 75%;
    height: 5%;
    margin-top: 10%;
    margin-left: 24%;
    z-index: 7;
  }
  .hits-display {
    margin-left: 22%;
    margin-top: 200px;
    overflow-x: auto;
    z-index: 3;
    width: 125%;
  }
  #hits {
    .hit-container {
      background-color: $hitContainerColor;
      padding: 20px;
      margin-bottom: 40px;
      width: 100%;
      height: 25%;
    .hit-price {
      font-size: 1.2em;
    }
    .hit-name {
      font-size: 1.2em;
    }
    .hit-description {
      font-size: .8em;
    }
  }
}
